<% unless @user %>
    <h1>User does not exist</h2>
<% else %>
  <p>
    <strong>First Name:</strong>
    <%= @user.first_name %>
  </p>
  
  <p>
    <strong>Last Name:</strong>
    <%= @user.last_name %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  
  <p>
    <strong>Contact:</strong>
    <%= @user.contact_number %>
  </p>
<% end %>






