<h1>YOUR CART</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Cost</th>
  </tr>
 
  <% @cart.cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.product.title %></td>
      <td><%= cart_item.quantity %></td>
      <td><%= cart_item.product.cost %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Checkout', :controller => :orders, :action => :new, :cart_id => @cart.id %></p>


